* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "DeutschGothic";
    background-color: #e0bd2f;
}

.wrapper {
    max-width: 1160px;
    margin: auto;
}

.mem {
    cursor: pointer;
}

input {
    visibility: hidden;
    display: none;
}

.mem__name {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    border-top: 3px solid #8d8c86;
    margin-top: 30px;
    margin-bottom: 30px;
}

.close {
    opacity: 0;
    font-size: 2em;
}